﻿@import url(https://fonts.googleapis.com/css?family=Open+Sans);

* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    font-family: 'Open Sans', 'Segoe UI', sans-serif;
}

button,
input {
    font: inherit;
}

textarea {
    font: inherit;
    resize: none;
    box-sizing: content-box;
}

.labelexpand {
    margin: 10px;
}

body > header {
    height: 20px;
    flex-shrink: 0;
    background-color: #aaa;
}

.statuses {
    display: flex;
    overflow: auto;
    flex-shrink: 0;
 }

.login {
  flex-shrink: 0;
  display: flex;
  color: #FFFFFF;
  background-color: #10346d;
  padding: 10px;
  overflow: hidden;
  width: 100%;
}

.workarea .controls {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.toggle {
  flex-shrink: 0;
  display: flex;
}

input[type=text], 
input[type=password]
{
  border: none;
  background-color: #FFFFFF;
  color: #10346d;
  width: 150px; 
  padding-left: 5px;
  height: 15px;
}

button,
input[type=button],
.labelexpand
{
  background-color: #f63d0b;
  color: #FFFFFF;
  text-transform: uppercase;
  padding-left: 8px;
  border: none;
}

button,
input[type=button], 
input[type=text], 
input[type=password],
.labelexpand
{
  border-radius:5px;
  border-top-left-radius: 0;
  border-bottom-right-radius: 0;
  padding-right:12px;
  outline: none;
}

.box
{
  margin-bottom: 5px;
  text-align: right;
}

.box > *
{
  vertical-align: middle;
}

label
{
  margin-right: 5px;
}

form {
    margin-left: auto;
}

.carddescription {
    white-space: pre-wrap;
    margin-top: 20px;
}

.status {
    margin: 10px;
    border-radius: 4px;
    border: 2px solid #10346d;
    background-color: #10346d;
    flex-direction: column;
}

.card {
    margin: 10px;
    padding: 10px 15px;
    border-radius: 2px;
    border-left: 4px solid #ff00dc;
    background-color: #eee;
    flex-direction: column;
    display: flex;
}

.card.editing  {
    background-color: #fff;
}

.card:not(.editing) {
    min-height: 80px;
}

.card:not(.editing) .save {
    visibility: hidden;
}

.card:not(.editing) .description {
    display: none;
}

.card header {
    display: flex;
    margin-bottom: 5px;
}

.card input, .card textarea {
    border: none;
    background-color: transparent;
}

.title {
    font-size: 120%;
    font-weight: bold;
}

.title:empty::before {
    content: '\00a0';
}

.title input {    
    width: 100%;
}

.div[dnd-list] > div {
	position: relative;
}

textarea {
    resize: none;
    height: 100%
}

.inputexpand {
  display: none;
  visibility: hidden;
}




/*footer {
    height: 20px;
    flex-shrink: 0;
}*/
