﻿<!DOCTYPE html>
<html>
<head>
  <title>KanbanStyle</title>
	<meta charset="utf-8" />
  <link rel="stylesheet" href="app.css">
</head>
<body ng-app="app">
  <header></header>
  <div class="login">
    <form ng-controller="FormController">
      <div class="box">
        <div ng-show="failed">Username or password is incorrect. Forgot password?</div>
        <div ng-show="succeeded">Hello, <span>{{username}}</span></div>
      </div>
      <div class="box" ng-show="!succeeded">
        <label for="username">Username</label>
        <input id="username" name="username" required type="text" value="" ng-model="login.username"/>
      </div>
      <div class="box" ng-show="!succeeded">
        <label for="password">Password</label>
        <input id="password" name="password" required type="password" ng-model="login.password"/>
      </div>
      <div class="box" ng-show="!succeeded">
        <input type="button" value="Log in" ng-click="submit(login)">
      </div>
      <div class="box" ng-show="succeeded">
        <input type="button" value="Logout" ng-click="logout()">
      </div>
    </form>
  </div>
  <main class="workarea" ng-controller="CardController">
    <div class="controls">
      <button ng-click="export(statuses)">Export</button>
      <div class="toggle">
        <input id="toggle" class="inputexpand" type="checkbox" checked ng-model="expand">
        <label for="toggle" class="labelexpand">Add new card</label>
      </div>
    </div>
    <div class="statuses">
      <div class="status" ng-repeat="status in statuses" dnd-list="status.cards" dnd-drop="move(event, index, item, status)">
        <div class="card editing" ng-show="expand">
          <div class="title">
            <input ng-model="newCardTitle"/>
          </div>
          <div class="description">
            <textarea autogrow ng-model="newCardDescription" class="description" max-lines="10"></textarea>
            <button ng-click="add(newCardTitle, newCardDescription, status)">+</button>
          </div>
        </div>
        <div class="card"
             ng-repeat="card in status.cards"
             ng-class="{ editing: editing}"
             dnd-draggable="card"
             dnd-disable-if="editing"
             dnd-effect-allowed="move">
          <header>
            <input type="text" class="title" ng-readonly="!editing" ng-model="card.title"/>
            <input type="checkbox" ng-model="editing"/>
            <button class="save" ng-click="update(card)">save</button>
            <button ng-click="remove(card, status)">delete</button>
          </header>
          <textarea ng-if="::(editing?true:undefined)" autogrow class="description" max-lines="10" ng-readonly="!editing" ng-model="card.description"></textarea>
        </div>
      </div>
    </div>
  </main>
    <footer></footer>

    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-drag-and-drop-lists/angular-drag-and-drop-lists.min.js"></script>
    <script src="bower_components/angular-autogrow/angular-autogrow.js"></script>
    <script src="js/app.js"></script>
    <script src="js/controllers/FormController.js"></script>
    <script src="js/services/TokenManager.js"></script>
    <script src="js/services/CardLoader.js"></script>
    <script src="js/controllers/CardController.js"></script>
</body>
</html>
