﻿<!DOCTYPE html>
<html>
<head>
  <title>Slider</title>
  <link rel="stylesheet" href="app.css">
	<meta charset="utf-8" />
</head>
<body ng-app="app">
  <div class="workarea">
    <div ng-controller="SlideController">
      <div class="controls">
        <button ng-click="next()">Next</button>
        <div class="toggle">
          <input id="toggle" class="inputexpand" type="checkbox" checked ng-model="expand">
          <label for="toggle" class="labelexpand">Show/Hide</label>
        </div>
      </div>
      <div class="card">
        <div class="title">{{card.title}}</div>
        <div class="carddescription" ng-show="expand">{{card.description}}</div>
      </div>
    </div>
  </div>
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-drag-and-drop-lists/angular-drag-and-drop-lists.min.js"></script>
  <script src="bower_components/angular-autogrow/angular-autogrow.js"></script>
  <script src="js/app.js"></script>
  <script src="js/controllers/FormController.js"></script>
  <script src="js/services/TokenManager.js"></script>
  <script src="js/services/CardLoader.js"></script>
  <script src="js/controllers/SlideController.js"></script>
  <script src="js/controllers/CardController.js"></script>
</body>
</html>
